In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30,40,50])

In [3]:
print("The series values are:", s1.values)
print("The series index values are:", s1.index.values)

The series values are: [10 20 30 40 50]
The series index values are: [0 1 2 3 4]

In [4]:
s2 = pd.Series([80,93,78,85,97], index = ['English', 'Science', 'Social', 'Tamil', 'Maths'])

In [5]:
print("The Marks obtained by student are:", s2)

The Marks obtained by student are: English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [6]:
s2.name = 'Student Marks'
s2.index.name = 'Subject'

In [7]:
print("The Marks obtained by student - subjectwise:\n", s2)

The Marks obtained by student - subjectwise:
 Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [8]:
s2[0]

80

In [9]:
s1[1:4]

1    20
2    30
3    40
dtype: int64

In [10]:
s2['Tamil']

85

In [11]:
dict_fruits = { 'Orange':80,
              'Apples':210,
              'Bananas':50,
              'Grapes':90,
              'Watermelon':70}

In [12]:
fruits = pd.Series(dict_fruits)

In [14]:
print("Fruit and prices\n", fruits)

Fruit and prices
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [15]:
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [16]:
df_marks = pd.DataFrame(s2, columns=['Student1'])

In [19]:
print("The dataframe created from series is\n",df_marks)

The dataframe created from series is
 Empty DataFrame
Columns: [Student1]
Index: []

In [20]:
height = pd.Series([5.3,6.2,5.8,5.0,5.5], index=['Person1', 'Person2', 'Person3', 'Person4', 'Person5'])

weight = pd.Series([65,89,75,60,59], index=['Person1' 'Person2', 'Person3', 'Person4', 'Person5'])

ValueError: Length of values (5) does not match length of index (4)

In [21]:
df_person = pd.DataFrame({'height':height, 'weight':weight})

print("The person table details are:\n", df_person)

NameError: name 'weight' is not defined